body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ece9e6, #ffffff);
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Altura completa de la vista */
  padding: 2em; /* Añadir algo de espacio alrededor del contenido */
}

#input-area {
  flex-basis: 45%;
  padding: 20px;
}

#ticket {
  flex-basis: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  height: fit-content;
  margin-left: 5%;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

h3 {
  margin: 0;
  text-align: center;
  font-size: 16px;
}

#ticket h2 {
  font-size: 32px;
  font-weight: bold;
}

#ticket p:nth-child(2) {
  font-size: 20px;
  
}

#ticket p:nth-child(3), #ticket-customer p:nth-child(3) {
  font-size: 20px;
  
}

hr {
  border: 1px solid #ccc;
}

#product-details input[type="text"], 
#product-details textarea, 
#employee-name, 
#customer-name, 
#customer-phone, 
#customer-pickup, 
#product-type {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}

.remove-product {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}

#ticket #ticket-items p {
  margin: 0;
  text-align: left;
  font-size: 16px;
}

#print-btn {
  background-color: #008CBA;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media print {
  body * {
    visibility: hidden;
  }
  #ticket, #ticket * {
    visibility: visible;
  }
  #ticket {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%; /* reducir el ancho para dejar margen en los lados */
    height: auto;
    margin: 0 auto; /* centrar el ticket horizontalmente */
    padding: 0 10%; /* agregar margen en los lados */
  }
  #print-btn {
    display: none; /* ocultar el botón de impresión en el ticket */
  }
}


